@charset "UTF-8";

:root {
  --illumination-font: "Patrick Hand", sans-serif;
  --main-font: "Baloo 2", sans-serif;
  --title-font: "Fredoka", sans-serif;
  --white: #f9f6f1;
  --blue: #5f7f95;
  --brown: #7a6256;
  --yellow: #e0b44c;
  --purple: #9a8fa6;
  --BG: #e2dddd;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--BG);
  background-image: url("./img/mat.png"), url("./img/bed.png");
  background-repeat: no-repeat;
  background-size: 80%, 20%;
  background-attachment: scroll, fixed;
  background-position:
    50% 70vh,
    3% 10%;
}

/* ヘッダー */
header {
  position: relative;
}

.ceiling {
  height: 5vh;
  background-color: var(--brown);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 15vw 0;
  margin-top: -15px;
}

nav li {
  position: relative;
}

nav li a {
  text-decoration: none;
  color: var(--white);
}

nav ul p {
  font-size: 3vw;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--illumination-font);
  color: var(--white);
}

.illumination {
  width: 15vw;
  position: relative;
}

.profile-illumination {
  top: 65%;
  left: 45%;
}

.works-illumination {
  top: 60%;
  left: 45%;
}

.contact-illumination {
  top: 58%;
  left: 50%;
}

/* その他のボタン */

.other-button {
  position: relative;
  min-height: 70vh;
}

/* 左のソファー */
.topic-button {
  position: absolute;
  top: 15%;
  left: 8%;
}

.topic-button img {
  width: 28vw;
}

.topic-button p {
  font-size: 2vw;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--main-font);
  color: var(--white);
  top: 30%;
  left: 40%;
}

/* 右のソファー */
.instagram-button {
  position: absolute;
  top: 15%;
  right: 8%;
}

.instagram-button img {
  width: 28vw;
}

.instagram-button p {
  font-size: 2vw;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--main-font);
  color: var(--white);
  top: 30%;
  left: 60%;
}

/* 中央のデスク */
.desk-button {
  position: absolute;
  top: 10%;
  left: 30%;
}

.desk-button img {
  width: 45vw;
}

.desk-button p {
  font-size: 4vw;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--title-font);
  color: var(--white);
  top: 20%;
  left: 50%;
}

/* 自分 */
.my-button {
  position: absolute;
  top: -35%;
  right: -5%;
}

.my-button img {
  width: 20vw;
  transform: rotate(-45deg);
}

/* オレ */
.ore-button {
  position: absolute;
  top: 10%;
  right: 13%;
}

.ore-button img {
  width: 12vw;
}

/* ラテ */
.latte-button {
  position: absolute;
  top: 40%;
  left: 45%;
}

.latte-button img {
  width: 15vw;
}
