@charset "UTF-8";

:root {
  --illumination-font: "Patrick Hand", sans-serif;
  --main-font: "Baloo 2", sans-serif;
  --title-font: "Fredoka", sans-serif;
  --subtitle-font: "Kosugi Maru", sans-serif;
  --white: #f9f6f1;
  --blue: #5f7f95;
  --brown: #7a6256;
  --yellow: #e0b44c;
  --purple: #9a8fa6;
  --BG: #e2dddd;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--BG);
  /* background-image: url("./img/mat.png"), url("./img/bed.png");
  background-repeat: no-repeat;
  background-size: 80%, 20%;
  background-attachment: scroll, fixed;
  background-position:
    50% 70vh,
    3% 90%; */
}

/* ヘッダー */
header {
  position: relative;
}

.ceiling {
  height: 5vh;
  background-color: var(--brown);
}

/* ボタンのリセットと動き */

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

header,
main button img {
  transition: transform 0.2s ease;
}

header,
main button:hover img {
  transform: scale(1.05);
}

/* 人物だけ斜めのまま動き */
.profile-character img {
  transform: rotate(-45deg);
}

.profile-character:hover img {
  transform: rotate(-45deg) scale(1.05);
}

/* ランプ */
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 15vw 0;
  margin-top: -15px;
}

nav li {
  position: relative;
}

nav li span {
  text-decoration: none;
  color: var(--white);
}

nav ul span {
  font-size: clamp(1.5rem, 3vw, 3rem);
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--illumination-font);
  color: var(--white);
}

nav li span.active {
  color: var(--yellow);
}

.illumination {
  width: 15vw;
  position: relative;
  transition: color 0.3s ease;
}

.profile-illumination {
  top: 65%;
  left: 45%;
  transition: color 0.3s ease;
}

.works-illumination {
  top: 60%;
  left: 46%;
  letter-spacing: 2px;
}

.contact-illumination {
  top: 58%;
  left: 50%;
}

.lamp-light {
  position: absolute;

  top: 80%;
  left: 50%;
  transform: translateX(-50%);

  width: 80vw;
  max-width: 1000px;
  height: 80vh;

  /* 下の方が暗いグラデーション */
  background: rgba(255, 226, 140, 0.5) 0%;

  /* 三角形 */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

  /* 最初は非表示 */
  opacity: 0;
  transition: opacity 0.3s ease;

  pointer-events: none;
  z-index: 100;
}

.lamp-light.show {
  opacity: 1;
}

/* TOPのボタン */

.hero-scene {
  position: relative;
  min-height: 70vh;
}

/* 猫のベット */
.cat-bed {
  position: absolute;
  bottom: -5%;
  left: 5%;
  z-index: 1;
}

.cat-bed img {
  width: 20vw;
  transform: rotate(20deg);
}

/* 絨毯 */
.mat {
  position: absolute;
  bottom: -15%;
  left: 5%;
  z-index: 0;
}

.mat img {
  width: 90vw;
}

/* マットが一番したになるように重なり１にしておく */
.topic-button,
.instagram-button,
.desk-button {
  z-index: 1;
}

/* 左のソファー */
.topic-button {
  position: absolute;
  top: 15%;
  left: 8%;
}

.topic-button img {
  width: 28vw;
}

.topic-button span {
  font-size: 2.5vw;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--main-font);
  color: var(--white);
  top: 30%;
  left: 40%;
}

/* 右のソファー */
.instagram-button {
  position: absolute;
  top: 15%;
  right: 8%;
}

.instagram-button img {
  width: 28vw;
}

.instagram-button span {
  font-size: 2.5vw;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--main-font);
  color: var(--white);
  top: 30%;
  left: 60%;
}

/* 中央のデスク */
.desk-button {
  position: absolute;
  top: 10%;
  left: 30%;
}

.desk-button img {
  width: 45vw;
}

.desk-button span {
  font-size: 5vw;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--title-font);
  color: var(--white);
  top: 22%;
  left: 50%;
}

/* 自分 */
.profile-character {
  position: absolute;
  top: -35%;
  right: -5%;
}

.profile-character img {
  width: 20vw;
  transform: rotate(-45deg);
}

/* オレ */
.cat-ore-button {
  position: absolute;
  top: 10%;
  right: 13%;
  z-index: 2;
}

.cat-ore-button img {
  width: 12vw;
}

/* ラテ */
.cat-latte-button {
  position: absolute;
  top: 40%;
  left: 45%;
}

.cat-latte-button img {
  width: 15vw;
}

/* ーーーーーーーーーーhidden-panelーーーーーーーーーーーーー */

.panel {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.hidden {
  display: none;
}

/* 背景を暗くする */
.panel-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

/* 本体 */
.panel-content {
  position: relative;
  width: min(90vw, 900px);
  margin: 80vh auto 5vh;
  z-index: 1;
  animation: panelDrop 1s ease-out;
}

@keyframes panelDrop {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* フェードインの動き */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* PROFILEセクション */

.panel-profile {
  background: var(--yellow);
  border-radius: 80px;
  padding: 22px; /* 枠の太さ分 */
}

.panel-profile-inner {
  background: var(--BG);
  border-radius: 60px;
  padding: 2rem;
}

/* 右上の「×」 */
.close-button {
  position: absolute;
  color: var(--blue);
  font-family: var(--main-font);
  font-size: clamp(2rem, 5vw, 3.5rem);
  top: 5%;
  right: 10%;
}

.panel-profile h2 {
  color: var(--brown);
  font-family: var(--subtitle-font);
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bold;
}

.panel-profile p {
  color: var(--brown);
  padding: 1.5rem 0;
  line-height: 2.5rem;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  font-weight: 700;
}

.panel-profile h3 {
  color: var(--blue);
  font-family: var(--main-font);
  padding: 0.5rem 0;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.panel-profile li {
  color: var(--brown);
  font-family: var(--main-font);
  list-style-position: inside;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
}

/* 右下のアイコン */
.profile-icon {
  position: absolute;
  width: 250px;
  /* 正方形 */
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--white);
  border: 22px solid var(--yellow);

  overflow: hidden;
  bottom: -8%;
  right: -5%;
}

.profile-icon img {
  width: 90%;
  height: auto;
  object-fit: contain;

  transform: translate(10px, 8px);
}

/* WORKSセクション */

.panel-works {
  background: var(--yellow);
  padding: 22px; /* 枠の太さ分 */
}

.panel-works-inner {
  position: relative;
  width: 100%;
  min-height: 800px; /* 好きな高さ */
}

.photo-flame {
  position: absolute;
  padding: 0.7em 0.7em 2.5em;
  background-color: var(--white);
}

.photo-flame span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: var(--brown);
  font-family: var(--illumination-font);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
}

.photo-flame::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7); /* 白20% */
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.photo-flame:hover::after {
  opacity: 1;
}

.work1 {
  top: 40px;
  left: 40px;
}

.work1 img {
  width: 300px;
}

.work2 {
  top: 180px;
  right: 80px;
}

.work2 img {
  width: 120px;
}

.work3 {
  top: 320px;
  left: 120px;
}

.work3 img {
  width: 120px;
}
