@charset "UTF-8";

:root {
  --illumination-font: "Patrick Hand", sans-serif;
  --main-font: "Baloo 2", sans-serif;
  --title-font: "Fredoka", sans-serif;
  --subtitle-font: "Kosugi Maru", sans-serif;
  --white: #f9f6f1;
  --blue: #5f7f95;
  --brown: #7a6256;
  --yellow: #e0b44c;
  --purple: #9a8fa6;
  --BG: #e2dddd;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  background-color: var(--BG);
}

/* ヘッダー */
header {
  position: relative;
}

.ceiling {
  position: relative;
  height: 20px;
  background-color: var(--brown);
  z-index: 5;
}

main {
  overflow-x: clip;
}

/* ボタンのリセットと動き */

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

header,
main button img {
  transition: transform 0.2s ease;
}

header button:hover img,
main button:hover img,
.instagram-button:hover img {
  transform: scale(1.05);
}

/* 人物だけ斜めのまま動き */
.profile-character img {
  transform: rotate(-45deg);
}

.profile-character:hover img {
  transform: rotate(-45deg) scale(1.05);
}

/* サイトオープン時の動き */
.intro-sway {
  animation: intro-sway 0.6s ease-in-out;
}

@keyframes intro-sway {
  0% {
    transform: scale(1) rotate(0deg);
  }

  30% {
    transform: scale(1.03) rotate(-4deg);
  }

  60% {
    transform: scale(1.03) rotate(4deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

/* UEBAKOだけ斜めのまま動く */
.profile-character img.intro-sway {
  animation: character-intro-sway 0.6s ease-in-out;
}

@keyframes character-intro-sway {
  0% {
    transform: rotate(-45deg) scale(1);
  }

  30% {
    transform: rotate(-49deg) scale(1.03);
  }

  60% {
    transform: rotate(-41deg) scale(1.03);
  }

  100% {
    transform: rotate(-45deg) scale(1);
  }
}

/* ボタンのランダムな動き */
.random-sway {
  animation: random-sway 0.6s ease-in-out;
}

@keyframes random-sway {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(-4deg) scale(1.03);
  }

  60% {
    transform: rotate(4deg) scale(1.03);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* UEBAKOだけ斜めのまま動く */

.profile-character img.random-sway {
  animation: character-random-sway 0.6s ease-in-out;
}

@keyframes character-random-sway {
  0% {
    transform: rotate(-45deg) scale(1);
  }

  30% {
    transform: rotate(-49deg) scale(1.03);
  }

  60% {
    transform: rotate(-41deg) scale(1.03);
  }

  100% {
    transform: rotate(-45deg) scale(1);
  }
}

/* ランプ */

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 15vw 0;
  margin-top: -2vh;
}

nav li {
  position: relative;
}

nav li span {
  text-decoration: none;
  color: var(--white);
  z-index: 5;
}

nav ul span {
  font-size: clamp(1.5rem, 3vw, 3rem);
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--illumination-font);
  color: var(--white);
}

nav li span.active {
  color: var(--yellow);
}

.illumination {
  width: 15vw;
  position: relative;
  transition: color 0.3s ease;
  z-index: 5;
}

.profile-illumination {
  top: 65%;
  left: 45%;
  transition: color 0.3s ease;
}

.works-illumination {
  top: 60%;
  left: 46%;
  letter-spacing: 2px;
}

.contact-illumination {
  top: 58%;
  left: 50%;
}

.lamp-light {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);

  width: min(90vw, 900px);
  height: 90vh;

  /* 下の方が暗いグラデーション */
  background: rgba(255, 226, 140, 0.5);

  /* 最初は非表示 */
  opacity: 0;
  transition: opacity 0.6s ease;

  pointer-events: none;
  z-index: 4;
}

/* それぞれのライトの形 */
#profile-light {
  left: 150%;
  clip-path: polygon(28% 0, 35% 0, 100% 100%, 10% 100%);
}

#works-light {
  clip-path: polygon(46% 0, 54% 0, 100% 100%, 0% 100%);
}

#contact-light {
  left: -70%;
  clip-path: polygon(68% 0, 75% 0, 95% 100%, 0% 100%);
}

.lamp-light.show {
  opacity: 1;
}

/* TOPのボタン */

.hero-scene {
  position: relative;
  min-height: 70vh;
  /* padding-bottom: 12vw; */
}

/* 猫のベット */
.cat-bed {
  position: absolute;
  top: 60%;
  left: 5%;
  z-index: 2;
}

.cat-bed img {
  width: 20vw;
  transform: rotate(20deg);
}

/* 絨毯 */
.mat {
  position: absolute;
  bottom: -30%;
  left: 5%;
  z-index: 0;
}

.mat img {
  width: 90vw;
}

/* マットが一番したになるように重なり１にしておく */
.topic-button,
.instagram-button {
  z-index: 1;
}

.menu-button {
  z-index: 2;
}

/* 左のソファー */
.topic-button {
  position: absolute;
  top: 15%;
  left: 8%;
}

.topic-button img {
  width: 28vw;
}

.topic-button span {
  font-size: 2.5vw;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--main-font);
  color: var(--white);
  top: 30%;
  left: 40%;
}

/* 右のソファー */
.instagram-button {
  position: absolute;
  top: 15%;
  right: 8%;
}

.instagram-button img {
  width: 28vw;
}

.instagram-button span {
  font-size: 2.5vw;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--main-font);
  color: var(--white);
  top: 30%;
  left: 60%;
}

/* 中央のデスク */
.menu-button {
  position: absolute;
  top: 10%;
  left: 30%;
}

.menu-button img {
  width: 45vw;
}

.menu-button span {
  font-size: 5vw;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: var(--title-font);
  color: var(--white);
  top: 22%;
  left: 50%;
}

/* 自分 */
.profile-character {
  position: absolute;
  top: clamp(-180px, -15vw, -50px);
  right: clamp(-70px, -5vw, -10px);
}

.profile-character img {
  width: 20vw;
  transform: rotate(-45deg);
}

/* オレ */
.cat-ore-button {
  position: absolute;
  z-index: 3;
}
/* オレ１座っている */
.ore-1 {
  top: 9%;
  right: 12%;
}

.ore-1 img {
  width: 15vw;
}

/* オレ２寝ている */
.ore-2 {
  top: 63%;
  left: 8%;
}

.ore-2 img {
  width: 13vw;
}

/* オレ3立っている */
.ore-3 {
  top: -20%;
  left: 5%;
}

.ore-3 img {
  width: 15vw;
}

/* ラテ */
.cat-latte-button {
  position: absolute;
  z-index: 3;
}

/* ラテ１寝ている */
.latte-1 {
  top: 45%;
  left: 43%;
}

.latte-1 img {
  width: 16vw;
}

/* ラテ２寝転んでいる */
.latte-2 {
  top: 40%;
  right: 15%;
}

.latte-2 img {
  width: 9vw;
}

/* ラテ3座っている */
.latte-3 {
  top: 3%;
  right: 28%;
}

.latte-3 img {
  width: 8vw;
}

/* ーーーーーーーーーーhidden-panelーーーーーーーーーーーーー */

.panel {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.hidden {
  display: none;
}

/* 背景を暗くする */
.panel-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 4;
}

/* 本体(profile,contact,works共通) */
.panel-content {
  width: min(90vw, 900px);
  margin: 8vh auto 5vh;
  z-index: 6;
}

@keyframes panelDrop {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* フェードインの動き */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* PROFILEセクション */

.panel-profile {
  position: relative;
  background: var(--yellow);
  border-radius: 80px;
  padding: 22px; /* 枠の太さ分 */
}

.panel-profile-inner {
  background: var(--white);
  border-radius: 60px;
  padding: 2rem;
}

/* 右上の「×」 */
.close-button {
  position: absolute;
  color: var(--blue);
  font-family: var(--main-font);
  font-size: clamp(2rem, 5vw, 3.5rem);
  top: 5%;
  right: 7%;
}

.panel-profile h2 {
  color: var(--brown);
  font-family: var(--subtitle-font);
  font-size: clamp(1.75rem, 5vw, 3.5rem);
  font-weight: bold;
}

.panel-profile p {
  color: var(--brown);
  padding: 1.5rem 0;
  line-height: 2.5rem;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  font-weight: 700;
}

.panel-profile h3 {
  color: var(--blue);
  font-family: var(--main-font);
  padding: 0.5rem 0;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.panel-profile li {
  color: var(--brown);
  font-family: var(--main-font);
  list-style-position: inside;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
}

/* 右下のアイコン */
.profile-icon {
  position: absolute;
  width: 250px;
  /* 正方形 */
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--white);
  border: 22px solid var(--yellow);

  overflow: hidden;
  bottom: -5%;
  right: -5%;
}

.profile-icon img {
  width: 90%;
  height: auto;
  object-fit: contain;

  transform: translate(10px, 8px);
}

/* WORKSセクション */

.panel-works {
  background: var(--yellow);
  padding: 22px;
  max-width: 900px;
}

.panel-works-inner {
  position: relative;
  width: 100%;
  min-height: 1500px;
  max-width: 2000px;
}

.works-close {
  top: 0%;
  right: 0%;
  line-height: 0.5em;
}

/* フォトフレーム */
.photo-frame {
  position: absolute;
  z-index: 1;
  padding: 0.7em;
  background-color: var(--white);
  overflow: hidden;

  perspective: 1000px;
  transform-origin: center;
  transition:
    width 0.6s ease,
    height 0.6s ease,
    transform 0.6s ease,
    box-shadow 0.25s ease;
}

.photo-frame:hover {
  transform: translateY(-6px) rotate(var(--rotate));
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
}

.frame-inner {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.photo-frame.is-open {
  z-index: 1000;
  height: auto;
}

.photo-frame.is-open .frame-inner {
  height: auto;
  min-height: 100%;
  transform: rotateY(180deg);
}

/* 表・裏 */

.frame-front,
.frame-back {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* 表 */

.frame-front {
  position: relative;
}

/* クリック部分 */

.photo-button {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;

  border: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

.photo-button img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

/* ホバー */

.work-caption {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);

  opacity: 0;
  transition: 0.3s;
}

.photo-button:hover .work-caption {
  opacity: 1;
}

/* タグ */

.tags {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--blue);
  font-family: var(--main-font);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
}

.frame-info {
  display: flex;
  justify-content: space-between;
  align-items: end;

  height: 2.5em;
  padding: 0.3em 0.2em 0;
}

.view-text {
  color: var(--brown);
  font-family: var(--illumination-font);
  font-size: clamp(0.8rem, 0.8vw, 1rem);
  text-align: left;
  opacity: 0;
  transition: 0.3s;
}

.view-text:hover {
  opacity: 1;
}

.frame-info span {
  color: var(--brown);
  font-family: var(--illumination-font);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
}

/* 裏 */

.frame-back {
  transform: rotateY(180deg);

  padding: 30px;
  box-sizing: border-box;
  font-family: var(--subtitle-font);
  color: var(--brown);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.frame-back a {
  text-decoration: none;
  color: var(--brown);
}

.frame-back-content {
  background-color: var(--BG);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
}

.frame-back-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30%;
}

.frame-back-title img {
  width: 70%;
}

.frame-back h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-bottom: 10px;
}

.frame-back h4 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 0.5rem 1.5rem;
}

.frame-back p,
.frame-back li {
  line-height: 1.5rem;
  list-style: none;
}

.frame-back-top {
  width: 50%;
}

.frame-back-top img {
  width: 100%;
  filter: brightness(110%);
}

.frame-back-overview {
  width: 50%;
}

.frame-back-concept {
  width: 50%;
}

.frame-back-concept-img {
  width: 50%;
}

.frame-back-concept-img img {
  width: 80%;
  border: solid 5px var(--brown);
  margin: 0 10%;
}

.frame-back-ingenuity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.frame-back ul {
  list-style-position: inside;
}

.ingenuity {
  width: 45%;
  background-color: var(--BG);
  border-radius: 10px;
  height: 300px;
  margin: 1rem;
  padding: 1rem;
}

.ingenuity li {
  margin-bottom: 1rem;
}

.ingenuity-1 img {
  width: 30%;
}

.ingenuity-2 img {
  width: 80%;
  border: solid 5px var(--yellow);
  margin: 0 10%;
}

/* work1  鴨川デルタどうぶつ日和*/

.work1 {
  top: 13%;
  left: 4%;

  width: clamp(390px, 36vw, 470px);
  transform: rotate(-2deg);
}

.work1.is-open {
  width: calc(100% - 44px);
  height: 2000px;

  top: 13%;
  left: 0;

  transform: rotate(0deg);
}

/* 朝ラン */

.work2 {
  top: 30%;
  right: 8%;
  width: clamp(170px, 14vw, 210px);
  transform: rotate(3deg);
}

.work2.is-open {
  width: calc(100% - 44px);
  height: 900px;

  top: 30%;
  left: 0;

  transform: rotate(0deg);
}

/* チラシイラスト */
.work3 {
  top: 45%;
  left: 4%;
  width: clamp(170px, 14vw, 210px);
  transform: rotate(-1deg);
}

.work3.is-open {
  width: calc(100% - 44px);
  height: 900px;

  top: 45%;
  left: 0;

  transform: rotate(0deg);
}

/* ポートフォリオ */
.work4 {
  top: 53%;
  left: 30%;
  width: clamp(390px, 36vw, 470px);
  transform: rotate(1deg);
}

.work4.is-open {
  width: calc(100% - 44px);
  height: 900px;

  top: 53%;
  left: 0;

  transform: rotate(0deg);
}

/* ロゴ */
.work5 {
  top: 5%;
  right: 15%;
  width: clamp(180px, 16vw, 230px);
  transform: rotate(0deg);
}

.work5.is-open {
  width: calc(100% - 44px);
  height: 900px;

  top: 5%;
  left: 0;

  transform: rotate(0deg);
}

/* バナーデザイン */

.work6 {
  top: 80%;
  right: 10%;

  width: clamp(300px, 32vw, 410px);
  object-fit: cover;
  transform: rotate(-2deg);
}

.work6.is-open {
  width: calc(100% - 44px);
  height: 900px;

  top: 80%;
  left: 0;

  transform: rotate(0deg);
}

/* CONTACTセクション */

.panel-contact {
  background: var(--yellow);
  border-radius: 50px;
  padding: 22px; /* 枠の太さ分 */
}

.panel-contact-inner {
  position: relative;
  border: dotted 5px var(--blue);
  border-radius: 30px;
  padding: 1rem 2rem;
}

#contact-close {
  position: absolute;
  top: 5%;
  right: 5%;
  line-height: 0.5em;
}

.panel-contact h2 {
  color: var(--blue);
  font-family: var(--illumination-font);
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bold;
}

/* フォーム全体 */
.panel-contact form label {
  font-family: var(--subtitle-font);
  color: var(--white);
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.panel-contact form p {
  font-family: var(--subtitle-font);
  color: var(--white);
  font-size: clamp(0.7rem, 1.2vw, 1.125rem);
  display: inline-block;
}

::placeholder {
  color: rgba(154, 143, 166, 0.65);
}

/* フォームの名前、メール */

.contact-name,
.contact-mail {
  margin: 1rem;
}

.contact-name label,
.contact-mail label {
  display: inline-block;
}

.contact-name label {
  letter-spacing: clamp(1rem, 2vw, 1.5rem);
  text-indent: clamp(1rem, 2vw, 1.5rem);
}

.contact-name input,
.contact-mail input {
  background-color: var(--white);
  border-radius: 15px;
  color: var(--purple);
  font-family: var(--subtitle-font);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  height: 50px;
  min-width: 300px;
  padding: 5px 10px;
  margin-left: 1rem;
}

/* フォームの種別 */

.contact-checkbox {
  margin: 1rem 3rem 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-inquiry-type label {
  margin: 1rem;
}

/* フォームの本文 */
.contact-content label {
  margin: 1rem;
  display: block;
}

.contact-content textarea {
  background-color: var(--white);
  border-radius: 15px;
  color: var(--purple);
  font-family: var(--subtitle-font);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  height: 100px;
  width: 90%;
  padding: 10px;
  margin: 0 1rem 0 1.5rem;
}

/* フォームのファイル */

.contact-file label {
  margin: 1rem;
  display: block;
}

.contact-url {
  background-color: var(--white);
  border-radius: 15px;
  color: var(--purple);
  font-family: var(--subtitle-font);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  height: 50px;
  width: 90%;
  padding: 10px;
  margin: 0 1rem 0 1.5rem;
}

.contact-img {
  margin: 1rem 1rem 0 1.5rem;
  color: var(--purple);
  font-family: var(--subtitle-font);
  font-size: clamp(0.7rem, 1.2vw, 1.125rem);
}

/* フォームの送信 */
.contact-submit {
  background-color: var(--blue);
  border-radius: 15px;
  height: 60px;
  width: 40%;
  padding: 15px 10px 10px;
  margin: 3rem auto 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
}

.contact-submit input {
  color: var(--white);
  font-family: var(--subtitle-font);
}

/* TOPICセクション */

.panel-topic {
  position: absolute;
  top: 50%;
  left: 10%;

  max-width: 450px;
  background: var(--blue);
  border-radius: 30px;
  padding: 30px;
  animation: fadeIn 0.5s ease;
}

#topic-modal {
  position: fixed;
  inset: 0;
  z-index: 5;

  opacity: 0;
  transform: scale(0.8);
  transition: 0.2s ease;
  pointer-events: none;
}

#topic-modal.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

#topic-close {
  top: 7%;
  right: 5%;
  line-height: 0.5em;
  color: var(--white);
}

.panel-topic ul {
  color: var(--white);
  list-style: none;
}

.panel-topic li {
  padding: 8px 0;
}

/* 最新情報だけ new入れる*/

.new-topic span {
  background: var(--yellow);
  color: var(--brown);
  padding: 2px 8px;
  border-radius: 9px;
  font-size: 0.8rem;
  text-decoration: none;
  margin-right: 5px;
}

.panel-topic a {
  color: var(--white);
  font-family: var(--subtitle-font);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
}

#topic-modal {
  opacity: 0;
  transform: scale(0.8);
  transition: 0.2s ease;
  pointer-events: none;
}

#topic-modal.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/* CATSセクション */
#cat-ore-modal,
#cat-latte-modal {
  position: fixed;
  inset: 0;
  z-index: 5;
  animation: fadeIn 0.5s ease;
}

.panel-cat-ore,
.panel-cat-latte {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) rotate(-3deg);
  z-index: 5;
}

.panel-cat-ore-inner,
.panel-cat-latte-inner {
  padding: 0.7em;
  background: var(--white);
  overflow: hidden;
}

.panel-cat-ore img,
.panel-cat-latte img {
  width: 200px;
  height: 200px;
}

.cat-tags {
  font-family: var(--main-font);
  font-size: (1rem, 1.2vw, 1.125rem);
}

#cat-ore-close,
#cat-latte-close {
  position: absolute;
  top: 245px;
  right: 5px;
  margin: 0;
  line-height: 0.5em;
}

/* MENUセクション */
#menu-modal {
  position: fixed;
  inset: 0;
  z-index: 5;
}

.panel-menu {
  position: absolute;
  top: 10%;
  z-index: 5;
  animation: fadeIn 0.5s ease;
}

.panel-menu img {
  width: 300px;
}

#menu-close {
  position: absolute;
  top: 10%;
  right: 20%;
  line-height: 0.5em;
}

.menu-list {
  position: absolute;
  top: 20%;
  left: 13%;
}

.panel-menu a {
  text-decoration: none;
  color: var(--brown);
}

.panel-menu li {
  border-bottom: var(--blue) dotted;
}

.panel-menu li::marker {
  color: var(--brown);
}

.main-menu ul {
  list-style: square inside;
  font-family: var(--main-font);
}

.main-menu li {
  font-size: 1.4rem;
  padding-top: 0.5rem;
}

.sub-menu {
  padding-top: 25px;
  padding-left: 10px;
}
.sub-menu ul {
  list-style: inside;
  font-family: var(--main-font);
}

.sub-menu li {
  font-size: 1rem;
  padding-top: 0.5rem;
}

/* LIKESセクション */

#likes-modal {
  position: absolute;
  inset: 0;
  z-index: 5;
}

.panel-likes {
  position: relative;
  width: min(90vw, 900px);
  margin-top: 10vh;
  background-color: var(--blue);
  border-radius: 50px;
  padding: 3%;
  z-index: 5;
  height: fit-content;
  animation: fadeIn 0.5s ease;
}

.panel-likes h2 {
  color: var(--white);
  font-family: var(--main-font);
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bolder;
  text-align: center;
}

#likes-close {
  position: absolute;
  color: var(--white);
  top: 5%;
  right: 5%;
  line-height: 0.5em;
}

/* 好きなものボタン */
.likes-grid img {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: block;
  transition: 0.2s;
}

.like-button {
  width: 100%;
  border: none;
  background: none;
  border-radius: 20px;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
}

.likes-button.active {
  background: var(--yellow);
  border-radius: 300px;
}

.likes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

/* チケット */

.ticket {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  align-items: center;
  place-items: center;

  margin: 1rem 0;
  padding: 1rem;

  background: var(--white);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  animation: fadeIn 0.3s ease;
}

.ticket img {
  border: solid var(--blue) 5px;
  border-radius: 300px;
  padding: 0.5rem;
}

.ticket-text {
  border-right: dotted var(--blue) 2px;
  border-left: dotted var(--blue) 2px;
  padding: 3rem 0.5rem;
}

#ticket-title {
  text-align: center;
  font-family: var(--main-font);
  font-size: clamp(1.5rem, 3vw, 2rem);
}

#ticket-description {
  font-family: var(--subtitle-font);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  line-height: 1.5rem;
}

/* 非表示 */
.ticket.hidden {
  display: none;
}

/* ====================スマホ版========================= */

@media screen and (max-width: 767px) {
  /* ==TOP== */

  /* ランプ */
  nav ul {
    margin: -2vh 0 0;
  }

  nav ul span {
    font-size: 5vw;
  }

  .illumination {
    width: 28vw;
  }

  /* 光 */
  .lamp-light {
    transform: translateX(-50%);

    width: min(90vw, 900px);
    height: 90px;
  }

  #profile-light {
    left: 150%;
    clip-path: polygon(10% 0, 14% 0, 91% 100%, 6% 100%);
  }

  #works-light {
    width: 300px;
  }

  #contact-light {
    left: -70%;
    clip-path: polygon(80% 0, 95% 0, 95% 100%, 6% 100%);
  }

  /* デスク */
  .menu-button {
    top: 0%;
    left: 10%;
  }

  .menu-button img {
    width: 80vw;
  }

  /* 自分 */

  .profile-character {
    top: 20%;
    right: -10%;
    z-index: 3;
  }

  .profile-character img {
    width: 40vw;
  }

  /* 左のソファー */

  .topic-button {
    top: 70%;
    left: 5%;
  }

  .topic-button img {
    width: 40vw;
  }

  .topic-button span {
    font-size: 4vw;
  }

  /* 右のソファー */
  .instagram-button {
    top: 70%;
    right: 5%;
  }

  .instagram-button img {
    width: 40vw;
  }

  .instagram-button span {
    font-size: 4vw;
  }

  /* 絨毯 */
  .mat {
    top: 90%;
    left: 0%;
  }

  .mat img {
    width: 100vw;
  }

  /* 猫のベット */
  .cat-bed {
    top: 70%;
    left: 35%;
  }

  .cat-bed img {
    width: 28vw;
  }

  /* オレ１座っている */
  .ore-1 {
    top: 67%;
    right: 10%;
  }

  .ore-1 img {
    width: 22vw;
  }

  /* オレ２寝ている */
  .ore-2 {
    top: 70%;
    left: 38%;
  }

  .ore-2 img {
    width: 20vw;
  }

  /* オレ3立っている */
  .ore-3 {
    top: 55%;
    left: 5%;
  }

  .ore-3 img {
    width: 23vw;
  }

  /* ラテ１寝ている */
  .latte-1 {
    top: 25%;
    left: 38%;
  }

  .latte-1 img {
    width: 24vw;
  }

  /* ラテ２寝転んでいる */
  .latte-2 {
    top: 85%;
    right: 13%;
  }

  .latte-2 img {
    width: 15vw;
  }

  /* ラテ3座っている */
  .latte-3 {
    top: -2%;
    right: 20%;
  }

  .latte-3 img {
    width: 12vw;
  }

  /* 本体(profile,contact,works共通) */
  .panel-content {
    position: absolute;
    margin: 0 auto 5vh;
    top: -400px;
  }

  /* ==PROFILEセクション== */

  .panel-profile {
    border-radius: 35px;
    padding: 15px; /* 枠の太さ分 */
  }

  .panel-profile-inner {
    border-radius: 30px;
    padding: 1.5rem;
  }

  #profile-close {
    font-size: clamp(2rem, 5vw, 3.5rem);
    top: 3%;
    right: 8%;
  }

  .panel-profile p {
    padding: 1rem 0;
    line-height: 2rem;
  }

  .panel-profile h3 {
    padding: 0;
  }

  .panel-profile ul {
    padding-bottom: 2.5rem;
  }

  /* アイコン */
  .profile-icon {
    width: 150px;
    /* 正方形 */
    border: 15px solid var(--yellow);

    overflow: hidden;
    bottom: -75px;
    left: 0;
    right: 0;
    margin: auto;
  }

  /* ==WORKSセクション== */

  .panel-works {
    width: 300px;
  }

  /* work1  鴨川デルタどうぶつ日和*/
  .work1 {
    top: 3%;
    left: 0;
    transform: rotate(-3deg);
    width: 250px;
  }

  .work1.is-open {
    width: calc(100% - 0px);
    top: 3%;
  }

  /* 朝ラン */

  .work2 {
    top: 18%;
    right: 10%;
    transform: rotate(4deg);
    width: 150px;
  }

  .work2.is-open {
    width: calc(100% - 0px);
    top: 18%;
  }

  /* チラシイラスト */

  .work3 {
    top: 60%;
    right: 10%;
    transform: rotate(-4deg);
    width: 150px;
  }

  .work3.is-open {
    width: calc(100% - 0px);
    top: 60%;
  }

  /* ポートフォリオ */

  .work4 {
    top: 46%;
    left: 0%;
    transform: rotate(1deg);
    width: 250px;
  }

  .work4.is-open {
    width: calc(100% - 0px);
    top: 46%;
  }

  /* ロゴ */

  .work5 {
    top: 32%;
    left: 8%;
    transform: rotate(-2deg);
    width: 150px;
  }

  .work5.is-open {
    width: calc(100% - 0px);
    top: 32%;
  }

  /* バナーデザイン */

  .work6 {
    top: 75%;
    left: 0%;
    transform: rotate(1deg);
    width: 250px;
  }

  .work6.is-open {
    width: calc(100% - 0px);
    top: 75%;
  }

  /* ==CONTACTセクション== */
  .panel-contact-inner {
    padding: 1rem 1rem;
  }

  #contact-close {
    top: 3%;
  }

  /* フォームの名前、メール */
  .contact-name,
  .contact-mail {
    margin: 1rem 0;
  }

  .contact-name label,
  .contact-mail label {
    margin: 1rem 0 0.5rem;
  }

  .contact-name input,
  .contact-mail input {
    min-width: 65vw;
    margin-left: 0;
  }

  .contact-name label {
    text-indent: 0px;
  }

  /* フォームの種別 */

  .contact-checkbox {
    margin: 0.5rem 0.3rem;
    gap: 0.8rem;
    justify-content: flex-start;
  }

  .contact-inquiry-type label {
    margin: 1rem 0;
  }

  /* フォームの本文 */
  .contact-content label {
    margin: 1rem 0 0.5rem;
  }

  .contact-content textarea {
    margin: 0;
    min-width: 65vw;
    height: 150px;
  }

  /* フォームのファイル */

  .contact-file label {
    margin: 1rem 0 0.5rem;
  }

  .contact-url {
    margin: 0;
    min-width: 65vw;
  }

  .contact-img {
    margin: 1rem 0;
  }

  /* フォームの送信 */
  .contact-submit {
    height: 45px;
    padding: 10px 10px 10px;
    margin: 0.5rem auto 1rem;
  }
  /* ==TOPICセクション== */
  .panel-topic {
    top: 30%;
    left: 5%;
    border-radius: 15px;
    padding: 10px;
    width: 220px;
  }

  .panel-topic li {
    padding: 5px 0;
  }

  .new-topic span {
    font-size: 0.6rem;
  }

  .panel-topic a {
    font-size: 0.7rem;
  }

  /* ==CATSセクション== */
  .panel-cat-ore,
  .panel-cat-latte {
    top: 40%;
    left: 30%;
  }

  .panel-cat-ore-inner,
  .panel-cat-latte-inner {
    padding: 0.5em;
  }

  .panel-cat-ore img,
  .panel-cat-latte img {
    width: 120px;
    height: 120px;
  }

  .cat-tags {
    font-size: 0.5rem;
  }

  #cat-ore-close,
  #cat-latte-close {
    top: 145px;
  }

  /* ==MENUセクション== */

  .panel-menu {
    top: 30%;
    left: 5%;
  }

  .panel-menu img {
    width: 200px;
  }

  .main-menu li {
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }

  .sub-menu {
    padding-top: 10px;
    padding-left: 10px;
  }

  .sub-menu li {
    font-size: 0.7rem;
    padding-top: 0.3rem;
  }

  /* ==LIKESセクション== */

  .panel-likes {
    border-radius: 30px;
    width: 80vw;
  }

  #likes-close {
    top: 30px;
    right: 30px;
    line-height: 0.5em;
  }

  /* チケット */

  .ticket {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .ticket-text {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  #ticket-left {
    grid-column: 1;
    grid-row: 2;
  }

  #ticket-right {
    grid-column: 2;
    grid-row: 2;
  }

  .ticket img {
    border: solid var(--blue) 3px;
    padding: 0.3rem;
  }

  .ticket-text {
    border-right: none;
    border-left: none;
    padding: 0 0 0.5rem;
    border-bottom: dotted var(--blue) 2px;
  }

  #ticket-description {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
}

/* PC1100px以上 */
@media screen and (min-width: 1300px) {
  /* 1100px以上のCSS */
  /* それぞれのライトの形 */
  #profile-light {
    clip-path: polygon(20% 0, 30% 0, 100% 100%, 15% 100%);
  }

  #contact-light {
    clip-path: polygon(73% 0, 85% 0, 90% 100%, 0% 100%);
  }
}
